.sect[hidden] {
    display: none
}
.secst-error {
    border: solid 1px red;
}
mark.secst-error { background: red }
table.secst {
    border: 1px solid black;
    border-collapse: collapse;
}
.secst th {
    background-color: whitesmoke;
}
.secst th, td {
    border: 1px solid black;
    padding: 5px;
}
input.secst {
    font-family: monospace;
}
input.secst[type="number"] {
    min-width: 4ch;
}
textarea.secst:not([hidden]) {
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre;
    max-width: calc(100% - 1ch);
    min-width: calc(100% - 1ch);
    overflow: auto;
}
pre.secst {
    padding: 1ch;
    max-width:  calc(100% - 1ch);
    max-height: 25em;
    overflow: auto;
    background-color: whitesmoke;
}